In [1]:
import pandas as pd
import numpy as np
Data=pd.read_csv("C:/Users/SHIVA KARTHIK P/OneDrive/Desktop/final_crop.csv")
Data.head(10)

,s_no,State,Rainfall,Season,Soil,Crop,crop_n,soil_n,season_n,state_n
0,1,Andaman and Nicobar Islands,2950,Whole Year,RedsandyLoam,Coconut,4,15,4,0
1,2,Andaman and Nicobar Islands,2950,Whole Year,Coastalsandy,Coconut,4,5,4,0
2,3,Andaman and Nicobar Islands,2967,Whole Year,Redclay,Arecanut,0,14,4,0
3,4,Andaman and Nicobar Islands,2972,Rabi,Redclay,Arecanut,0,14,2,0
4,5,Andhra Pradesh,700,Kharif,SandyLoamy,Groundnut,9,17,1,1
5,6,Andhra Pradesh,700,Kharif,Sandyclay,Groundnut,9,18,1,1
6,7,Andhra Pradesh,680,Kharif,Alluvial,Jowar,10,1,1,1
7,8,Andhra Pradesh,680,Kharif,Black,Jowar,10,2,1,1
8,9,Andhra Pradesh,680,Kharif,Redclay,Jowar,10,14,1,1
9,10,Andhra Pradesh,720,Kharif,Loamy,Maize,12,11,1,1

In [2]:
x=Data[["state_n","Rainfall","season_n","soil_n"]]
x.head()

   state_n  Rainfall  season_n  soil_n
0        0      2950         4      15
1        0      2950         4       5
2        0      2967         4      14
3        0      2972         2      14
4        1       700         1      17

In [3]:
y=Data[['crop_n']]
y.head()

   crop_n
0       4
1       4
2       0
3       0
4       9

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)

In [7]:
X_train.head()

      state_n  Rainfall  season_n  soil_n
762        31      1458         4       4
2122       30       777         1       2
790        32       235         1       2
3596        7      1897         1      18
3616        8      3455         1      16

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
Model=RandomForestClassifier()

In [11]:
Model.fit(X_train,Y_train)

C:\Users\SHIVA KARTHIK P\AppData\Local\Temp\ipykernel_15956\1285567662.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  Model.fit(X_train,Y_train)

RandomForestClassifier()

In [13]:
Model.score(X_train,Y_train)

0.9962148095576059

In [14]:
Model.score(X_test,Y_test)

0.9318826868495743

In [15]:
y_pred=Model.predict(X_test)
y_pred

array([18, 24, 21, ..., 29,  1,  5], dtype=int64)

In [181]:
from sklearn.metrics import confusion_matrix
cn=confusion_matrix(Y_test,y_pred)
cn

array([[  6,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,  29,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,
          0,   0,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,
          0,   0,   0,   0],
       [  0,   0,  19,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,
          0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   1,   0,  18,   0,   1,   0,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,  15,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   2,   0,   0,   0,  30,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   5,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  44,   0,   0,   0,   0,   0,
          1,   0,   0,   0,   0,   0,   0,   0,   2,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  19,   3,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  94,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  71,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,   0,
          1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  85,
          1,   0,   0,   0,   0,   2,   0,   0,   3,   0,   0,   0,   0,
          0,   0,   0,   1],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
         30,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   1,
          0,   0,   1,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,  44,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   9,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          1,   1,   0,  14,   0,   2,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   2,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,   2,
          0,   0,   0,   0,   0,  51,   0,   1,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   6,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
          0,   0,   0,   0,   0,   0,   0,  15,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
          0,   1,   0,   0,   0,   0,   0,   0, 109,   0,   0,   0,   0,
          0,   0,   0,   3],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   1,   0,   0,   0,   0,   0,   0,   0,  43,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   7,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  76,   0,
          0,   0,   0,   0],
       [  0,   3,   0,   2,   0,   1,   0,   0,   0,   0,   1,   0,   0,
          1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  47,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          1,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   7,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   1,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   5,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1,
          0,   3,   0,   0,   0,   0,   0,   0,   2,   0,   0,   0,   0,
          0,   0,   0,  90]], dtype=int64)

In [16]:
selected_state=dict(zip(Data['State'],Data['state_n']))
selected_state

{'Andaman and Nicobar Islands': 0,
 'Andhra Pradesh': 1,
 'Arunachal Pradesh': 2,
 'Assam': 3,
 'Bihar': 4,
 'Chandigarh': 5,
 'Chhattisgarh': 6,
 'Dadra and Nagar Haveli': 7,
 'Goa': 8,
 'Gujarat': 9,
 'Gujrat': 10,
 'Haryana': 11,
 'Himachal Pradesh': 12,
 'Jammu and Kashmir ': 13,
 'Jharkhand': 14,
 'Karnataka': 15,
 'Kerala': 16,
 'Madhya Pradesh': 17,
 'Manipur': 18,
 'Meghalaya': 19,
 'Mizoram': 20,
 'Nagaland': 21,
 'Odisha': 22,
 'Puducherry': 23,
 'Punjab': 24,
 'Rajasthan': 25,
 'Sikkim': 26,
 'Tamil Nadu': 27,
 'Telangana ': 28,
 'Tripura': 29,
 'Uttar Pradesh': 30,
 'Uttarakhand': 31,
 'West Bengal': 32}

In [17]:
selected_season=dict(zip(Data["Season"],Data["season_n"]))
selected_season=sorted(selected_season.items(),key=lambda x:x[1])
selected_season=dict(selected_season)
selected_season

{'Autumn     ': 0,
 'Kharif': 1,
 'Rabi': 2,
 'Summer     ': 3,
 'Whole Year': 4,
 'Winter     ': 5}

In [18]:
selected_soil=dict(zip(Data["Soil"],Data["soil_n"]))
selected_soil=sorted(selected_soil.items(),key=lambda x:x[1])
selected_soil=dict(selected_soil)
selected_soil

{'ALL': 0,
 'Alluvial': 1,
 'Black': 2,
 'Clay': 3,
 'ClayLoamy': 4,
 'Coastalsandy': 5,
 'Gravel': 6,
 'Lateritic Loam': 7,
 'Lava': 8,
 'LightLoam': 9,
 'Loamtexture': 10,
 'Loamy': 11,
 'Notsandy': 12,
 'Peaty': 13,
 'Redclay': 14,
 'RedsandyLoam': 15,
 'Sandy': 16,
 'SandyLoamy': 17,
 'Sandyclay': 18,
 'Textured': 19}

In [137]:
#selected_crop=dict(zip(Data["crop_n"],Data["Crop"]))
#selected_crop=sorted(selected_crop.items(),key=lambda x:x[1])
#selected_crop=dict(selected_crop)
#selected_crop

In [19]:
def predict_crop(state,rainfall,season,soil):
    state_n=selected_state[state]
    season_n=selected_season[season]
    soil_n=selected_soil[soil]
    crop_names=set(Data['Crop'])
    crop_list=[*crop_names]
    crop_list.sort()
    val=Model.predict([[state_n,rainfall,season_n,soil_n,]])
    val=int(val)
    return crop_list[val]

In [20]:
predict_crop("Andhra Pradesh",6694,"Kharif","Black")

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'Cotton'

In [22]:
import pickle
pickle.dump(Model,open("Crop_prediction.pickle","wb"))